.home h2{
    text-decoration: underline;
}

.navigasi button{
    color: white;
    background-color: #003049;
}

.banner{
        background-image: url('../assets/homebg.png');
        background-size: cover;
        color: white;
        text-align: center;   
        height: fit-content;         
}

#featured-3 button{
    background-color: #003049;
}
#featured-3 h4{
    color: #003049;
}

.tahap{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.thp {
    flex-basis: 10%;
    padding: 50px;
    /* box-sizing: border-box; */
}
.thp p{
    text-align: center;
    font-weight: 50px;
    
}
 .thp img {
    width: 100px;
 }
   
.pricing{
    display: flex;
    justify-content: center;
}

.album{
    background-color: #003049;
}

.footer{
    background-color: #1f1f1f;
    min-height: 200px;
}
.footer a{
    text-decoration: none;
    color: white;
}